{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {%if user.is_authenticated%}
          <il><a href="{% url 'logout' %}">Logout</a></il>
          {%else%}
          <il><a href="{% url 'signup' %}">Sign up</a></il>
          <il><a href="{% url 'login' %}">Login</a></il>
          {%endif%}
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Account</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
          </tr>
        </thead>
        <tbody>
          {%for item in receipt_list%}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.number}}</td>
            <td>{{item.receipts.all|length}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </main>
  </body>
</html>
