<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {%if user.is_authenticated%}
          <il><a href="{% url 'logout' %}">Logout</a></il>
          {%else%}
          <il><a href="{% url 'signup' %}">Sign up</a></il>
          <il><a href="{% url 'login' %}">Login</a></il>
          {%endif%}
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>Create Receipts</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button>Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
