{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {%if user.is_authenticated%}
          <il><a href="{% url 'logout' %}">Logout</a></il>
          <il><a href="{% url 'home' %}">Home</a></il>
          <il><a href="{% url 'category_list' %}">Expense Category</a></il>
          <il><a href="{% url 'account_list' %}">Account</a></il>
          <il><a href="{% url 'create_receipt' %}">Create a Receipt</a></il>
          <il><a href="{% url 'create_account' %}">Create an account</a></il>
          <il><a href="{% url 'create_category' %}">Create an Expense</a></il>
          {%else%}
          <il><a href="{% url 'signup' %}">Sign up</a></il>
          <il><a href="{% url 'login' %}">Login</a></il>
          {%endif%}
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {%for item in receipt_list%}
          <tr>
            <td>{{item.vendor}}</td>
            <td>{{item.total}}</td>
            <td>{{item.tax}}</td>
            <td>{{item.date|date:"m/d/y"}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.account.name}}</td>
            {%endfor%}
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
